<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Email</title>
    <link rel="stylesheet" href="./styles/activation/activation.css">
</head>
<body>
    <div class="email_wrapper">
        <div class="email_header">
            <h1>Welcome to EduConnextX</h1>
        </div>
        <div class="email_body">
            <p>Hello, <%= user.name %>,</p>
            <p>Thank you for registering with ECX. To activate your account, please use the following activation code:
            </p>
            <h2>
                <%= activationCode %>
            </h2>
            <p>Please enter this code on the activation page within the next 5 minutes.</p>
            <p>If you did not register for a ECX account, please ignore this email.</p>
        </div>
        <div class="email_footer">
            <p>If you have any questions, please don't hesitate to contact us at <a
                    href="mailto:fedsi.yasser@gmail.com">support@ecx.com</a></p>
            <p>&copy; 2024 EduConnextX. All rights reserved.</p>

        </div>
    </div>
</body>
</html>
